{% extends 'base.html' %}

{% load humanize %}

{% block content %}
    {% if cart.games.exists %}
    <div class="col-8">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"><p class="text-light">Cantidad</p></th>
                    <th scope="col"><p class="text-light">Precio</p></th>
                </tr>
            </thead>
            <tbody>
                {% for cg in cart.games_related %}
                    {% with game=cg.game %}
                        <tr>
                            <th>{{forloop.counter}}</th>
                            <th>
                                <img src="{{game.imagen.url}}" alt="" width="200" height="200">
                            </th>
                            <th>
                                <a href="{% url 'juego:juego'  game.slug %}"><p class="text-light text-center">{{game.nombre}}</p></a>
                                {% include 'carts/snippets/remove.html' %}
                            </th>
                            <th><p class="text-light text-center">{{cg.quantity}}</p></th>
                            <th>
                                <span class="font-weight-bold text-danger">{{game.precio | intcomma}}</span>
                            </th>
                        </tr>
                 {% endwith %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <div class="font-weight-bold">
                    Total ({{cart.games.count}}) :<span class="text-danger">$ {{cart.total | intcomma }}</span>
                </div>
                <div class="mt-2">
                    <a href="#" class="btn btn-warning">Realizar Pago</a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col">
        <h4 class="text-light mt-4">Tu carrito está vacio</h4>
        <br><br><br>
        <a href="/">Ir al inicio</a>
    </div>

    {% endif %}

{% endblock %}