<footer>
    <div class="container-fluid text-center text-md-left" style="background-color: #1E375A;" >
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3"><br>
                <h5 class="text-uppercase font-weight-bold" style="color: whitesmoke;" >Proyecto Tienda Online</h5>
                <p class="text-justify" style="color: whitesmoke">Este proyecto fue desarrollado usando HTML, css (bootstrap), Javascript y Python (Django)</i>.
                </p>
            </div>  
            <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-6 mb-md-0 mb-3 text-center"> <br>
                    <h5 class="text-uppercase font-weight-bold" style="color: whitesmoke;">Desarrollado por: </h5>
                    <p class="text-light">Johan Esteban Cañas <strong>Estudiante de Ingeniería de Software</strong></p>
                </div>  
        </div>  
    </div>

    <div class="footer-copyright text-center py-3 text-light" style="background-color: #343a40;" >
        <p>
        © 2020 Copyright - PlayZoneShop
        </p>
    </div>
</footer>